<!DOCTYPE html>
<html>

<head>
    <title> IEEE-754 Binary-128 Floating Point Converter </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="static/js/bundle.js" defer> </script>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="flex">
        <div
            class="w-[275px] bg-[#002338] top-0 sticky h-dvh p-6 flex flex-col items-center font-['DM_Sans'] font-bold">
            <div class="text-white text-[42px] mb-[1vh]">
                Dashboard
            </div>
            <a href="/"
                class="cursor-pointer text-[15px] mb-[10px] bg-[#A7DAFF] shadow-[inset_0_2px_4px_2px_rgba(0,0,0,0.3)] rounded-[3px] h-[38px] w-[208px] items-center flex px-5">
                <svg class="w-[16px] mr-[10px]" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM96 64H288c17.7 0 32 14.3 32 32v32c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V96c0-17.7 14.3-32 32-32zm32 160a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM96 352a32 32 0 1 1 0-64 32 32 0 1 1 0 64zM64 416c0-17.7 14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H96c-17.7 0-32-14.3-32-32zM192 256a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zm64-64a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM288 448a32 32 0 1 1 0-64 32 32 0 1 1 0 64z" />
                </svg>
                Binary-128
            </a>
            <div title="Coming Soon"
                class="opacity-25 text-[15px] cursor-not-allowed mb-[10px] rounded-[3px] bg-white h-[38px] w-[208px] items-center flex px-5">
                <svg class="w-[16px] mr-[10px]" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM96 64H288c17.7 0 32 14.3 32 32v32c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V96c0-17.7 14.3-32 32-32zm32 160a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM96 352a32 32 0 1 1 0-64 32 32 0 1 1 0 64zM64 416c0-17.7 14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H96c-17.7 0-32-14.3-32-32zM192 256a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zm64-64a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM288 448a32 32 0 1 1 0-64 32 32 0 1 1 0 64z" />
                </svg>
                Binary-64
            </div>
            <div title="Coming Soon"
                class="opacity-25 text-[15px] cursor-not-allowed mb-[10px] rounded-[3px] bg-white h-[38px] w-[208px] items-center flex px-5">
                <svg class="w-[16px] mr-[10px]" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM96 64H288c17.7 0 32 14.3 32 32v32c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V96c0-17.7 14.3-32 32-32zm32 160a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM96 352a32 32 0 1 1 0-64 32 32 0 1 1 0 64zM64 416c0-17.7 14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H96c-17.7 0-32-14.3-32-32zM192 256a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zm64-64a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM288 448a32 32 0 1 1 0-64 32 32 0 1 1 0 64z" />
                </svg>
                Binary-32
            </div>
            <div title="Coming Soon"
                class="opacity-25 text-[15px] cursor-not-allowed mb-[10px] rounded-[3px] bg-white h-[38px] w-[208px] items-center flex px-5">
                <svg class="w-[16px] mr-[10px]" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM96 64H288c17.7 0 32 14.3 32 32v32c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V96c0-17.7 14.3-32 32-32zm32 160a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM96 352a32 32 0 1 1 0-64 32 32 0 1 1 0 64zM64 416c0-17.7 14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H96c-17.7 0-32-14.3-32-32zM192 256a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zm64-64a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM288 448a32 32 0 1 1 0-64 32 32 0 1 1 0 64z" />
                </svg>
                Binary-16
            </div>
        </div>
        <div class="py-6 px-10 flex flex-col font-['DM_Sans'] font-bold">
            <div class="text-[#002338] text-[42px] mb-[10px]">
                IEEE-754 Binary-128 Floating-Point Converter
            </div>
            <div>
                <div class="text-[#002338] text-[28px] mb-[10px]">
                    Choose Input Type
                </div>
                <div class="flex flex-row mb-[25px]">
                    <button
                        class="flex justify-center items-center mr-[25px] text-white text-[15px] bg-[#002338] w-[245px] h-[38px] rounded-[3px] active"
                        id="binary-input">
                        <div>Binary Mantissa and Base-2</div>
                    </button>
                    <button
                        class="opacity-25 cursor-pointer flex justify-center items-center text-white text-[15px] bg-[#002338] w-[245px] h-[38px] rounded-[3px]"
                        id="decimal-input">
                        <div>Decimal and Base-10</div>
                    </button>
                </div>
                <div class="text-[#002338] text-[28px] mb-[12px]">
                    Enter Numbers
                </div>
                <div class="flex flex-col mb-[25px]">
                    <div class="text-[18px] mb-[10px] binary-input-text" id="number-input-label">
                        Binary Mantissa
                    </div>
                    <!-- Needs to be text instead of a number so it wont get converted into a float due to a Firefox bug (testcase: -.0000000000000000000000001) -->
                    <input type="text" name="number-value" id="number-value"
                        class="font-['Lato'] flex items-center border-2 mb-[10px] border-[#002338] p-3 text-[#002338] text-[1.15vw] w-[245px] h-[38px] rounded-[3px]">
                    </input>
                    <div class="text-[18px] mb-[10px] binary-input-text" id="exponent-input-label">
                        Base-2 Exponent
                    </div>
                    <input type="text" name="exponent-value" id="exponent-value"
                        class="font-['Lato'] flex items-center p-3 border-2 border-[#002338] text-[#002338] text-[1.15vw] w-[245px] h-[38px] rounded-[3px]">
                    </input>
                </div>
                <button class="shadow-[inset_0_2px_6px_2px_rgba(0,0,0,0.3)] text-[15px] text-white bg-[#267600] w-[114px] h-[38px] rounded-[3px] mr-[12px]"
                    id="submit-btn">
                    Submit
                </button>
                <button class="shadow-[inset_0_2px_6px_2px_rgba(0,0,0,0.3)] text-[15px] text-white bg-[#760000] w-[114px] h-[38px] rounded-[3px]" id="clear-btn">
                    Clear
                </button>
                <div class="text-[#002338] text-[28px] mb-[12px] mt-[25px] results-value hidden">
                    Result
                </div>
                <div class="flex flex-col mb-[25px] results-value hidden">
                    <div class="text-[18px] mb-[10px]">
                        Binary Representation
                    </div>
                    <div class="p-3 border-2 border-[#002338] max-w-fit rounded-[3px] overflow-hidden">
                        <table class="text-center font-light">
                            <thead class="border-b border-neutral-300 font-medium">
                                <tr>
                                    <th scope="col" class="px-6 py-2">Sign bit</th>
                                    <th scope="col" class="px-6 py-2">Exponent</th>
                                    <th scope="col" class="px-6 py-2">Significand</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Sample values only, initially set to hidden to preserve DOM appearance -->
                                <tr class="border-b border-neutral-300">
                                    <td class="px-6 py-4 font-medium font-mono" id="sign-bit">0
                                    </td>
                                    <td class="px-6 py-4 font-medium font-mono"
                                        id="exponent-bits">000 0000 0000 0000</td>
                                    <td class="px-6 py-4 font-medium font-mono max-w-2xl text-wrap"
                                        id="significand-bits">0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000
                                        0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000
                                        0000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-[18px] mb-[10px] results-value hidden">
                    Hexadecimal Representation
                </div>
                <div class="results-value hidden p-3 border-2 border-[#002338] max-w-fit rounded-[3px] font-medium font-mono mb-[30px]">
                    <div class="" id="output-hex">0x00000000000000000000000000000000</div>
                </div>
                <a class="text-[15px] text-white bg-sky-600 w-[114px] h-[38px] rounded-[3px] px-5 py-2.5 hidden"
                    id="download-btn">Export Results to Text File
                </a>
                <div class="mb-6"></div>
            </div>
        </div>
    </div>
</body>

</html>